development:
  adapter: postgresql
  database: demonstrate_bootstrap_development
  pool: 5
  timeout: 5000
test:
  adapter: postgresql
  database: demonstrate_bootstrap_test
  pool: 5
  timeout: 5000
